
@yellow: #fffa19;

.color-fond(@background-color: #fffa19, @color: black){
  background-color: @background-color;
  color: @color;
}

.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;

}

.paddings(@top: 0px, @rigth: 0px, @bottom: 0px, @left: 0px) {
  padding: @top @rigth @bottom @left;
}


.jumbotron {
    .color-fond(@yellow, black );
    font-weight: bold;
    .margenes(50px, 10px);
}
  
  footer {
    .paddings(10px, 10px, 0px, 10px);
    .color-fond(@yellow );
    .margenes(10px);
   
  }
  .footer-address-icon {
    padding-right: 10px; 
  }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px);
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; 
  }
  
  .tab-content {
    padding: 10px 0px 0px 0px; 
  }
  