
$yellow: #fff000;

$red: #ff2110;
$green: #21ff1959;
@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;

}
@mixin paddings($top, $rigth,$bottom, $left) {
    padding: $top $rigth $bottom $left;
}

.jumbotron {
    background-color:$yellow;
    color: black;
    font-weight: bold;
    @include margenes(50px, 10px);
    
}


footer{
    @include paddings(10px, 10px, 0px, 10px);
    background-color: $green;
    @include margenes(10px, 0px );
}

.footer-address-icon
{
    padding-right: 10px;
}
.card-hotel {
    flex:1 200px;
    @include margenes(10px, 0px );
    

}

.btn-reserva {
 width: 100%;
 border-radius: 0px;
}

.tab-content {
   
    @include paddings(10px, 0px, 0px, 0px);
}